.App {
  min-height: 100%;
}
.page-title {
  text-align: center;
  margin: 40px auto;
  color: #333;
}
.loader,
.error {
  text-align: center;
  margin: 40px auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
input,
textarea {
  color: #333;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
